## Day 33 Lecture 1 Assignment

In this assignment, we will learn about SVM. We will use the csection dataset loaded below and analyze the model generated for this dataset.

In [0]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [0]:
# Age -  ranges from 18 to 40  
# Delivery number - ranges from 1 to 4
# Delivery time -  {0 = timely , 1 = premature , 2 = latecomer}
# Blood of Pressure - {0 = low , 1 = normal , 2 = high }
# Heart Problem - {0 = apt, 1 = inept }

# Target - Caesarian - {0 = No, 1 = Yes }

csection = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/csection.csv')

In [0]:
csec= csection.copy()

Recall our c section dataset. Process the data by removing any missing values, creating the appropriate dummy variables and splitting the data into train and test (20% in the test dataset).

In [196]:
# answer below:
csection['Blood Pressure'] = csection['Blood Pressure'].astype('object')
csection['Delivery number'] = csection['Delivery number'].astype('object')
csection['Delivery time'] = csection['Delivery time'].astype('object')

csection = pd.concat([csection,pd.get_dummies(csection['Blood Pressure'], prefix="bp", drop_first=True)], axis=1)
csection = pd.concat([csection,pd.get_dummies(csection['Delivery number'], prefix="dn", drop_first=True)], axis=1)
csection = pd.concat([csection,pd.get_dummies(csection['Delivery time'], prefix="dt", drop_first=True)], axis=1)

dummy_column_names = list(pd.get_dummies(csection['Blood Pressure'], prefix="bp", drop_first=True).columns)
dummy_column_names = dummy_column_names + list(pd.get_dummies(csection['Delivery number'], prefix="dn", drop_first=True).columns)
dummy_column_names = dummy_column_names + list(pd.get_dummies(csection['Delivery time'], prefix="dt", drop_first=True).columns)

csection.head()

   Age Delivery number Delivery time Blood Pressure  ...  dn_3  dn_4  dt_1  dt_2
0   22               1             0              2  ...     0     0     0     0
1   26               2             0              1  ...     0     0     0     0
2   26               2             1              1  ...     0     0     1     0
3   28               1             0              2  ...     0     0     0     0
4   22               2             0              1  ...     0     0     0     0

[5 rows x 13 columns]

In [0]:
# answer below:
from sklearn.model_selection import train_test_split

X = csection[['Age', 'Heart Problem'] + dummy_column_names]

y= csection['Caesarian']

X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=.2)

Generate an SVC model with a linear kernel. Set C=10. Check the score for both train and test. Does the model overfit?

In [198]:
# answer below:
from sklearn.svm import SVC


svm = SVC(kernel = 'linear', C=10)
svm.fit(X_train, y_train)

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [199]:
print(svm.score(X_train, y_train))
print(svm.score(X_test, y_test))

0.671875
0.75

In [0]:
# due to the large difference between train and test scores the model does appear to overfit

If you have determined the model to overfit, pick a value of C based on your conclusion and show that the difference between the scores has improved.

In [201]:
# answer below:
from sklearn.model_selection import GridSearchCV


svm= SVC(kernel='linear')

tuned_parameters = [{'C': [.000001 ,.00001, .0001, .001, .01, .1, .5, 1, 5, 10, 100]}]

csvm = GridSearchCV(svm,  param_grid=tuned_parameters, cv=10)
csvm.fit(X_train, y_train)

print(csvm.best_params_)

{'C': 1e-06}

In [202]:
svm2 = SVC(kernel = 'linear', C= .1)
svm2.fit(X_train, y_train)

print(svm2.score(X_train, y_train))
print(svm2.score(X_test, y_test))

0.59375
0.5

What if we switched up the target variable? Let assume that we know whether a patient received a c section. Let's try to predict whether she has high blood pressure. 

Create the SVC model with a linear kernel with Blood Pressure as the target variable. Report both the train and the test scores.

In [203]:

csec['Delivery number'] = csec['Delivery number'].astype('object')
csec['Delivery time'] = csec['Delivery time'].astype('object')


csec = pd.concat([csec,pd.get_dummies(csec['Delivery number'], prefix="dn", drop_first=True)], axis=1)
csec = pd.concat([csec,pd.get_dummies(csec['Delivery time'], prefix="dt", drop_first=True)], axis=1)


dummy_column_names = dummy_column_names + list(pd.get_dummies(csec['Delivery number'], prefix="dn", drop_first=True).columns)
dummy_column_names = dummy_column_names + list(pd.get_dummies(csec['Delivery time'], prefix="dt", drop_first=True).columns)

csec.head()

   Age Delivery number Delivery time  Blood Pressure  ...  dn_3  dn_4  dt_1  dt_2
0   22               1             0               2  ...     0     0     0     0
1   26               2             0               1  ...     0     0     0     0
2   26               2             1               1  ...     0     0     1     0
3   28               1             0               2  ...     0     0     0     0
4   22               2             0               1  ...     0     0     0     0

[5 rows x 11 columns]

In [204]:
# get dummy column names
dummy_column_names

['bp_1',
 'bp_2',
 'dn_2',
 'dn_3',
 'dn_4',
 'dt_1',
 'dt_2',
 'dn_2',
 'dn_3',
 'dn_4',
 'dt_1',
 'dt_2']

In [205]:
# get rid of bp_1 and bp_2
dummy_column_names.pop(0)
dummy_column_names.pop(0)

'bp_2'

In [206]:
# check to make sure they're gone
dummy_column_names

['dn_2',
 'dn_3',
 'dn_4',
 'dt_1',
 'dt_2',
 'dn_2',
 'dn_3',
 'dn_4',
 'dt_1',
 'dt_2']

In [0]:
# new split with blood pressure as target
X2 = csec[['Age', 'Heart Problem', 'Caesarian'] + dummy_column_names]


y2= csec['Blood Pressure']

X_train_2, X_test_2, y_train_2, y_test_2= train_test_split(X2, y2, test_size=.2)

In [208]:
# new model and scores 
svm2 = SVC(kernel = 'linear', C=10)
svm2.fit(X_train_2, y_train_2)

print(svm2.score(X_train_2, y_train_2))
print(svm2.score(X_test_2, y_test_2))

0.625
0.375

In [209]:
# GridSearch to find best C
svm= SVC(kernel='linear')

tuned_parameters = [{'C': [.000001 ,.00001, .0001, .001, .01, .1, .5, 1, 5, 10, 100]}]

csvm2 = GridSearchCV(svm,  param_grid=tuned_parameters, cv=10)
csvm2.fit(X_train_2, y_train_2)

print(csvm2.best_params_)

{'C': 0.1}

In [213]:
# implement best C
svm = SVC(kernel = 'linear', C=.1)
svm.fit(X_train_2, y_train_2)

print(svm.score(X_train_2, y_train_2))
print(svm.score(X_test_2, y_test_2))

0.546875
0.5625

Now try to generate the model using the one vs. one decision function.

In [215]:
# answer below:
svm = SVC(C=.1, kernel='linear', decision_function_shape='ovo')
svm.fit(X_train_2, y_train_2)

print('Accuracy on training set', svm.score(X_train_2, y_train_2))
print('Accuracy on testing set', svm.score(X_test_2, y_test_2))

Accuracy on training set 0.546875
Accuracy on testing set 0.5625