## Day 28 Lecture 1 Assignment

In this assignment, we will learn about making predictions with linear models. We will use the king county housing dataset loaded below and analyze the regression from this dataset.

In [0]:
%matplotlib inline

import math

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [0]:
king_county = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/kc_house_data.csv')

In [0]:
king_county.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

We'll start by adding a column of the log of total sqare feet. This transformation will help us with model assumptions.

In [0]:
# answer below:

Filter out columns and keeping only: price, bedrooms, bathrooms, log_sqft_living, floors, waterfront

In [0]:
# answer below:

Next, we'll check for missing values and remove rows containing missing values. We will also make sure that all our data is numeric and convert the columns that are of object type to numeric. Make sure to remove any rows with missing data resulting from the conversion to numeric.

In [0]:
# answer below:

Split the data into test and train subsets. Use 20% of the data for the test subset. Use price as the dependent variable.

In [0]:
# answer below:

Check the model assumptions: homoscedacity, normal errors, and multicollinearity

In [0]:
#answer below:

There are two model assumptions that fail. One way to fix them is to apply a log transformation to price. Create a new train test split where y is the natural log of price and retest the model assumptions.

In [0]:
# answer below

Create a linear model and produce a model summary

In [0]:
# answer below

Predict the y values for the test sample using our model above.

Plot the true vs. predicted values and compute the MAE, MSE, RMSE and MAPE

In [0]:
# answer below: